# --- Librerías base ---
numpy
pandas
matplotlib

# --- Geoespaciales ---
rasterio
pyproj
shapely
geopandas

# --- Procesamiento de imágenes ---
scikit-image
scipy
Pillow
opencv-python

# --- Framework Web ---
Flask==3.1.2
Flask-Login==0.6.3  
Flask-SQLAlchemy==3.1.1 
Flask-WTF==1.2.2 
WTForms==3.2.1 
Werkzeug==3.1.3 

# versión headless para Docker (sin interfaz gráfica)
opencv-python-headless

# --- Geoespacial ---
# NOTA: GDAL se instala vía sistema en el Dockerfile
geopandas
rasterio
shapely
pyproj
rioxarray
xarray

# --- Reportes ---
weasyprint==66.0 
python-dotenv==1.0.1 

# --- Producción ---
gunicorn==21.2.0 # servidor web


# para instalar : pip install -r requirements.txt
